{#
/**
 * @file
 * HEADER paragraph template.
 *
 * @todo replace current parallax/video libraries with ONE single library,
 *       that supports both images and video!
 */
#}
{%
set classes = [
  'paragraph',
  parade.enable_parallax ? 'paragraph--parallax',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--background-' ~ parade.background.type|clean_class,
]
%}

{% if parade.enable_parallax and parade.background.type != 'video' and view_mode != 'preview' %}
{# @fixme alloww video parallax #}
<div{{ attributes.addClass(classes) }} data-parallax="scroll" data-image-src="{{- parade.background.url -}}">
{% else %}
<div{{ attributes.addClass(classes) }}>
{% endif %}
  {% if view_mode != 'preview' %}
    <div class="bg-wrapper">
      {% if not parade.enable_parallax %}
        {% if parade.background.type == 'image' %}
          <div class="bg-image" style="background-image: url({{- parade.background.url -}});"></div>
        {% endif %}
      {% endif %}
      {% if parade.background.type == 'video' %}
        <video class="bg-video" autoplay muted loop playsinline src="{{ parade.background.url }}" poster="{{ parade.background.poster }}"></video>
      {% endif %}
    </div>
  {% endif %}
  <section class="paragraph-inner">
    {{ content }}
  </section>
</div>
